/* ---------------------------------------------- */
/*            CODE EXPLAINED TUTORIALS            */
/*         www.youtube.com/CodeExplained          */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*                  LOAD FONTS                    */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*                    GENERAL                     */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*                    HEADER                      */
/* ---------------------------------------------- */

/* -------- LOGO -------- */

/* -------- NAV -------- */

/* ---------------------------------------------- */
/*                      MAIN                      */
/* ---------------------------------------------- */

/* -------- BG IMAGE -------- */

/* -------- LATEST REPORT -------- */

/* -------- CHART -------- */

/* -------- SEARCH COUNTRY -------- */

/* SCROLL BAR */

/* ---------------------------------------------- */
/*                    FOOTER                      */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/*             SCREEN WIDTH < 600px               */
/* ---------------------------------------------- */